{% extends 'base/base.html' %}

{% load staticfiles %}

{% load materializecss %}

{% block title %} Lista de stock {% endblock %}

{% block content %}
<div class="container">

  <div class="row center"><h2>Lista de stock</h2></div>

  
  <table class="table table-bordered">
    <thead>
      <tr>
        <td><b>Nombre</b></td>
        <td><b>Tipo</b></td>
        <td><b>Cantidad</b></td>
      </tr>
    </thead>
    <tbody>
      {% if productos %}
      {% for producto in productos %}
      <tr>

        <td>{{ producto.nombre }}</td>
        <td>{{ producto.tipo }}</td>
        <td><i>{{ producto.cantidad }}</i> </td>
        

      </tr>

      {% endfor %}

      {% else %}

      <h1>No existen registros</h1>

      {% endif %}
    </tbody>
  </table>

</div>

{% endblock %}