{% extends 'base/base.html' %}
{% load staticfiles %}

{% load materializecss %}

{% block content%}

<div class="section no-pad-bot" id="index-banner">
  <div class="contatiner">
    <br><br>
    <h1 class="header center orange-text">Bienvenido!</h1>
    {% if user.is_authenticated == False %}
    <h4 class=" center">Antes de ingresar a cualquier opción debes de estar logueado :)</h4>
    <br><br>
    {% endif %}
    <div class="row center">
      <a href="{% url 'producto:producto_stock' %}" class="btn-large waves-effect waves-light orange" >Stock de productos</a>
    </div>
  </div>
</div>

<div class="container">

  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div {% if user.is_superuser %} class="col s12 m4" {% endif %}>

        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="large material-icons">assignment</i></h2>
          <a href="{% url 'email' %}">
          <h5 class="center">Despacho</h5>
          </a>
         
        </div>
      </div>
       {% if user.is_superuser %}
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="large material-icons">group</i></h2>
          <a href="{% url 'user_listar' %}">
          <h5 class="center">Gestión de Usuarios</h5>
        </a>
          
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="large material-icons">view_list</i></h2>
          <a href="{% url 'producto:producto_listar' %}">
            <h5 class="center">Gestión de Productos</h5>
          </a>

          
        </div>
      </div>
       {% endif %}
    </div>

  </div>
  <br><br>
</div>

{% endblock %}