{% extends 'base/base.html' %}
{% load staticfiles %}
{% load materializecss %}
{% block title %} Lista de usuarios {% endblock %}
{% block content %}
<div class="container">
<div class="row center">
    <h2>Lista de usuarios</h2>
</div>

    <table class="table table-bordered">
            {% csrf_token %}
        <thead>
            <tr>
                
                <td><b>Usuario</b></td>
                <td><b>Nombre</b></td>
                <td><b>Acción</b></td>
                
            </tr>
        </thead>
        <tbody>
            {% if users %}
            {% for user in users %}
            {% if user.is_superuser == False %}
            <tr>
                
                <td>{{ user.username }}</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>
                    {% if user.is_active %}
                    <a class="btn waves-effect waves-light red" href="">Deshabilitar</a>
                    {% endif %}
                    {% if user.is_active == False %}
                    <a class="btn waves-effect waves-light green" href="">Habilitar</a>
                    {% endif %}

                </td>
                
            </tr>
            {% endif %}

            {% endfor %}
    
            {% else %}
    
            <h1>No existen registros</h1>
    
            {% endif %}
        </tbody>
    </table>
   
  </div>
{% endblock %}